h1 {
    background-color: red;
    color: white;
}

.description{
    border: 2px solid orange;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

p.potato{
    border: 2px solid yellow;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    text-shadow: green 2px 3px 4px;
    font-style: italic;
    text-align: center;
}

ul.pop{
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
}

h4{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}